/* Main Styles */

html{
    scroll-behavior: smooth;
}

body{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    color: #272727;
    background-image: url('../images/backgroundimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

ul{
    list-style-type: none;
}

.hidden{
    opacity: 0;
}

/* Headings */
.sub-heading{
    font-size: 1.2rem;
}


/* NAVBAR */
/* MEDIA QUERIES */
/* navbar invisible on mobile */
@media only screen and (max-width: 700px) {
  .navbar{
    visibility: hidden;
  }
}

/* Jumbotron */
.jumbotron{
    text-align: center;
    color: #f5fbff;
    background-color: #272727;
    border-bottom: 3px solid #468C98;
}

#jtTitle{
    font-size: 3.5em;
    
}

.container{
    padding-right: 0;
    padding-left: 0;
}

/* General content containers */
.content-container{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    min-height: 100vh;
    border-bottom: 3px solid #468C98;
    -webkit-box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.59);
    box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.59);

}
/* Title of each content container */
.section-heading{
    text-align: center;
    padding-top: 0.5em ;
    padding-bottom: 0.5em;
    margin-bottom: 2em;
    text-decoration: underline #468C98;
    color: #f5fbff;
    background-color: #272727 ;
}


.sub-heading{
    text-decoration: underline;
}

/* COLORS */
.red-color{
    color: #E84855;
}

.blue-color{
    color: #468C98;
}

.yellow-color{
    color:#FAA916;
}

.green-color{
    color: #68a063;
}

.purple-color{
    color: #9055A2;
}

#btnMain{
    background-color: transparent;
    border: 2px solid #468C98;
    border-radius: 0;
    padding: 0.5em 1.3em 0.5em 1.3em ;
    margin-top: 0.5em;
}

/* vertical alignt for jumbotron */
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  /* About section */

  #about-section{
    background-color: #f5fbef;
    background-image: url("../images/grid.png");    
  }

  .about-par{
      border-left: 1px solid #468C98;  
      padding-right: 2rem;
  }

  .pic-container{
      text-align: center;
  }

.profile-pic{
    border-radius: 100%;
    height: 275px;
    width: 245px;
    border-left: 1px solid #468C98;
    border-right: 1px solid #468C98;
    padding: 1em 1em 1em 1em;
}

/* Skills section */


#skills-section{
    background-image: url("../images/grid.png");

}

.skills-container{
    padding-top: 0.5em;

}

.back-end-container{
    margin-right: 2em;
}

.skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    height: 2em;
  }

  .skill{
      background-color: lightgray;
      height: 2em;
      margin-bottom: 0.5em;
  }
  
  /* SKILL BARS */
  .html {width: 80%; background-color: #4CAF50;} /* Green */
  .css {width: 75%; background-color: #2196F3;} /* Blue */
  .js {width: 70%; background-color: #f44336;} /* Red */
  .react {width: 65%; background-color: #eef107;} /* Red */
  .python {width: 70%; background-color: #f436ab;} /* Red */
  .node {width: 75%; background-color: #01a365;} /* Red */
  .csharp {width: 30%; background-color: #949273;} /* Red */
  .gatsby {width: 60%; background-color: #d6983b;} /* Red */


  /* Projects Section */

  .project-row{
    margin-bottom: 1em;
    padding: 0 1em 0 1em;
  }

  #projects-section{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    border: none;
    background-image: url("../images/grid.png");
  }

  .card-body{
    height: auto;
  }
  
  .project-text{
    font-size: 0.9em;
  }

  .project-container{
    overflow: visible;
    height: 285px;
  }

  /* MEDIA QUERIES */
/* project info visible on mobile */
@media only screen and (max-width: 600px) {
  .card-body{
    visibility: visible;
    height: 100%;
    background-color: #f44336;
  }
  .project-container img{
    opacity: 1;
  }
}

  .project-container img {
    opacity: 0.8;
    width: 100%;
    max-height: 165px;
    
  }
  .project-container img:hover {
    opacity: 1;
  
   }

  .project-container:hover .card-body{
    height: 100%;
    visibility: visible;
    background-color: #f44336;
  }
  .project-container:hover .project-text{
    visibility: visible;
    
  } 

  /* Footer */

  footer {
    margin-top: 5rem;
  }


  


  /* ANIMATIONS */

  .slideIn{
    -webkit-animation: slideIn ease 1s 1; /* Safari 4+ */
    -moz-animation:    slideIn ease 1s 1; /* Fx 5+ */
    -o-animation:      slideIn ease 1s 1; /* Opera 12+ */
    animation:         slideIn ease 1s 1; /* IE 10+, Fx 29+ */
  }

  .slideIn2{
      animation: slideIn2 ease 1.5s 1;
      -webkit-animation: slideIn2 ease 1.5s 1;
      -moz-animation: slideIn2 ease 1.5s 1;
      -o-animation: slideIn2 ease 1.5s 1;
  }

  .elongate{
    -webkit-animation: elongate ease 2s 1; /* Safari 4+ */
    -moz-animation:    elongate ease 2s 1; /* Fx 5+ */
    -o-animation:      elongate ease 2s 1; /* Opera 12+ */
    animation:         elongate ease 2s 1; /* IE 10+, Fx 29+ */
  }

  /* SLIDEIN (X AXIS) */
  @keyframes slideIn{
    from   { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}
@-webkit-keyframes slideIn {
    from  { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }
  @-moz-keyframes slideIn {
    from   { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }
  @-o-keyframes slideIn {
    from   { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }

  /* SLIDEIN 2 (Y AXIS)*/
  @keyframes slideIn2{
    from{transform: translateY(200%); opacity: 0;}
    to{transform: translateY(0); opacity: 1;}
}
@-webkit-keyframes slideIn2{
  from{transform: translateY(200%); opacity: 0;}
  to{transform: translateY(0); opacity: 1;}
}
@-o-keyframes slideIn2{
  from{transform: translateY(200%); opacity: 0;}
  to{transform: translateY(0); opacity: 1;}
}
@-moz-keyframes slideIn2{
  from{transform: translateY(200%); opacity: 0;}
  to{transform: translateY(0); opacity: 1;}
}

  /* ELONGATE */
  @keyframes elongate{
    from{transform: scaleX(0); opacity: 0;}
    to{transform: scaleX(100%); opacity: 1;}
}
@-webkit-keyframes elongate{
  from{transform: scaleX(0); opacity: 0;}
  to{transform: scaleX(100%); opacity: 1;}
}
@-moz-keyframes elongate{
  from{transform: scaleX(0); opacity: 0;}
  to{transform: scaleX(100%); opacity: 1;}
}
@-o-keyframes elongate{
  from{transform: scaleX(0); opacity: 0;}
  to{transform: scaleX(100%); opacity: 1;}
}

